h1, h2 {
  font-family: Lato;
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: darkcyan;
}

#divCitiesList{
  margin-bottom: 20px;
  margin-left: 10px;
}

#divDitiesListContainer{
  margin-bottom: 20px;
  margin-left: 10px;
}

#divInputCity{
  margin-left: 10px;
  margin-bottom: 5px;
}

#inputCity{
  margin-bottom: 20px;
  margin-left: 10px;
}

#divCityContainer{
  margin-bottom: 20px;
}

#hideButton{
  margin-left: 10px;
}

#showHide{
  margin-left: 10px;
  margin-bottom: 20px;
  font-size: 12px;
}

#cityDataDiv{
  margin-left: 10px;
}

/*movie and actors style*/

#movieListDiv {
  margin-bottom: 5px;
  margin-left: 10px;
}

#movieListContainer {
  margin-bottom: 20px;
  margin-left: 10px;
}

#selectMovieLabel {
  font-style: italic;
  margin-right: 30px;
  font-size: 20px;
  margin-left: 10px;
}

#movieActorsListDiv {
  margin-top: 20px;
  margin-left: 10px;
}

#selectedMovieDiv {
  margin-left: 10px;
}

#movieActorsList{
  margin-left: 10px;
}

#movieData{
  margin-left: 10px;
}

#container{
  display: none;
}